* {
  margin: 0;
  padding: 0; }

body {
  font: normal 14px/2.2rem Helvetica, Arial, sans-serif; }

#homepage {
  color: white; }
  #homepage #homepageContent {
    position: absolute;
    top: 50%;
    margin-top: -10em;
    left: 8%; }
    #homepage #homepageContent #watermelon {
      margin-bottom: 2rem; }
    #homepage #homepageContent h1 {
      font-size: 1.8rem;
      margin-bottom: 3rem;
      font-weight: lighter;
      max-width: 60%; }
      #homepage #homepageContent h1 span {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.5); }
    #homepage #homepageContent .btn.download {
      font-size: 1.5rem;
      color: white;
      font-weight: lighter;
      background: #00e19c;
      border-radius: 0.25rem;
      text-decoration: none;
      padding: 0.8rem 1.5rem;
      box-shadow: 0 3px 0 #0b7756; }
      #homepage #homepageContent .btn.download:before {
        content: "";
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background: url(../images/icon-download.png) no-repeat;
        margin-right: 0.8rem;
        position: relative;
        top: 0.15em; }
      #homepage #homepageContent .btn.download:hover {
        background: #00d191; }
  #homepage video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../images/polina.jpg) no-repeat;
    background-size: cover; }
